body {
    background-color: #51867D;
    background-image: url(https://i.pinimg.com/736x/e3/0b/02/e30b02485fdd256668ddd2d80f1f4fd1.jpg);
    background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 50%0%; /* Centra la imagen */
}

.card {
    /*background-color: #4DB19F;*/
    color: white;
    background-color: rgba(205, 205, 205, 0);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

header {
    background-color: #475C58;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Para que las partículas estén detrás del contenido */
}

